.body {
    background-color: #0097A6;
    padding: 20px;
}
.container {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    margin: 0px auto;
  }
  
  .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }
  
  .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }
  
  .content {
    display: flex;
    flex-direction: column;
  }
  
  .userDetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  
  .inputBox {
    margin-bottom: 15px;
    width: calc(50% - 20px);
  }
  
  .inputBox span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  .inputBox input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  
  .inputBox input:focus,
  .inputBox input:valid {
    border-color: #9b59b6;
  }
  
  .genderDetails {
    display: flex;
    flex-direction: column;
  }
  
  .genderTitle {
    font-size: 20px;
    font-weight: 500;
  }
  
  .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
  }
  
  .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
  
  #dot-1:checked ~ .category label .one,
  #dot-2:checked ~ .category label .two,
  #dot-3:checked ~ .category label .three {
    background: #9b59b6;
    border-color: #d9d9d9;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  .button {
    height: 45px;
    margin: 35px 0;
  }
  
  .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }
  
  .button input:hover {
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
  
  @media(max-width: 584px) {
    .container {
      max-width: 100%;
    }
  
    .inputBox {
      margin-bottom: 15px;
      width: 100%;
    }
  
    .category {
      width: 100%;
    }
  
    .userDetails {
      max-height: 300px;
      overflow-y: scroll;
    }
  
    .userDetails::-webkit-scrollbar {
      width: 5px;
    }
  }
  
  @media(max-width: 459px) {
    .category {
      flex-direction: column;
    }
  }
  